<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<style type="text/css">
div {border: solid black}
</style>
</head>
<body>
<div id="parent">
	{{fromChild1}} <br />
	<button v-on:click="sendToChild1">Send message to child 1</button> <br />
	<child1></child1>
	<child2></child2>
</div>

<script src="js/vue.js"></script>
<script src="app/child1.js"></script>
<script src="app/child2.js"></script>
<script src="app/app.js"></script>

</body>
</html>