#moja-klasa{
    font-size: 32px;
    color: blue;
}

p#moja-klasa {
    font-weight: bold;
    color: red
}

.container {
    position: relative;
    bottom: 100px;
    display: inline-block;
    border: 1px solid black;
    width: 100px;
    height: 100px;
}
