.naslov {
    color: blue
}

h1.naslov {
    font-size: 16px;
}

td.naslov {
    background-color : rgb(155, 155, 155);
    font-size: 14px;
}

p {
    font-family: 'Tahoma';
    font-size: 10px;
}

td {
    font-family: Arial;
    font-size: 12px;
}

tr.neparni-red {
    background-color : rgb(141, 140, 140);
}

tr.parni-red {
    background-color: rgb(184, 184, 184);
}