body {
    background-color: #e0e0e0;
}

.text {
    font-family: "Georgia";
    color: #f03030;
    text-align: justify;
}

#slika1 {
    border: 2px solid #f03030;
    margin: 5px;
    margin-left: 10px;
    float: right;
}

.container {
    display: inline-block;
    width: 180px;
    height: fit-content;
    padding: 2px;
    border: 1px solid #f03030;
    vertical-align: top;
    
}

.container img {
    width: 180px;
    height: 155px;
    border: 1px solid transparent;
}

.container img:hover {
    border-color: #f03030;
}

.container p {
    font-family: "Georgia";
    color: #f03030;
    text-align: center;
}